@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', monospace;
}

/* Header styles */
header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: transparent;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
    background-color: transparent;
    color: #03503D;
    transition: 0.3s ease;
}

.navbarLogo {
    max-width: 150px;
}

.navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLink {
    padding: 20px;
    color: #03503D;
    font-weight: 200;
    text-decoration: none;
}

.contactButton {
    padding: 15px 20px;
    background-color: transparent;
    border: 1px solid #03503D;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.contactButton:hover {
    background-color: #03503D;
    color: #FFFFFF;
}

/* navBar scrolled styles */

.navbarScrolled {
    background-color:#03503D;
    color: #ffffff;
    transition: 0.3s ease;
}

.navbarScrolled .navbarLink {
    color: #ffffff;
}

.navbarScrolled .contactButton {
    border: 1px solid #ffffff;
    color: #ffffff;
}

/* Hero styles */
.hero {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./assets/heroBG.png');
    margin: 0;
    padding: 0;

    background-size: cover; /* Scale the background to the width of the div */
    background-position: center; /* Center the background image horizontally */
    background-repeat: no-repeat; /* Ensure the background doesn't repeat */

    width: 100%;
    height: 100vh;
}

.heroText {
    max-width: 55%;
    padding-left: 10%;
    padding-top: 170px;
}

.heroTitle {
    font-size: 120px;
    color: #2B5C42;
    font-weight: 800;
}

.heroSubtitle {
    font-size: 25px;
    color: #2B5C42;
    margin-top: 5px;
    font-weight: 200;
    padding-left: 5px;
}

.heroDetails {
    font-size: 18px;
    color: #2B5C42;
    margin-top: 10px;
}

.heroEnactus {
    margin-top: 30px;
    font-size: 18px;
    color: #2B5C42;
    padding-left: 5px;
    font-weight: 200;
}

.enactusLink {
    text-decoration: none;
    font-weight: 600;
    color: #2B5C42;
    position: relative;
}

.mission {
    padding-top: 100vh;
    padding-left: 10%;
    background-color: #000600;
    padding-bottom: 120px;
    margin: 0;
    max-width: 100%;
}

.missionTitle {
    font-size: 35px;
    color: #FEBE00;
    font-weight: 600;
}

.missionText {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 200;
    margin-top: 20px;
    width: 80%;
}

.partners {
    background-color: #ffffff;
    padding: 50px 10%;
}

.partnersTitle {
    font-size: 35px;
    color: #2B5C42;
    font-weight: 600;
    margin-bottom: 60px;
}

.partnerLogos {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

.partnerLogoContainer {
    display: inline-flex;
    animation: scroll 15s linear infinite; /* Adjust duration for speed */
}

.partnerLogo {
    max-height: 70px;
    margin-right: 70px;
    flex-shrink: 0;
}

/* Keyframes for scrolling */
@keyframes scroll {
    0% {
        transform: translateX(0); /* Start at the beginning */
    }
    100% {
        transform: translateX(-50%); /* Scroll the width of one set of logos */
    }
}

/* pillars styles */
.pillars {
    background-color: #ffffff;
    padding: 50px 10%;
}

.pillarsTitle {
    font-size: 35px;
    color: #2B5C42;
    font-weight: 600;
    margin-bottom: 60px;
}

.pillar {
    width: 95%;
    height: 150px;
    border-radius: 10px;
    margin: 25px 0px;
    transition: 0.3s ease;
    cursor: pointer;
}

.pillar:hover {
    height: 200px;
}

.pillarTitle {
    color: #FFFFFF;
    padding-top: 35px;
    margin-left: 5%;
    font-size: 50px;
}

.pillarText {
    color: #FFFFFF;
    margin-left: 5%;
    margin-top: 5px;
    max-width: 80%;
}

.contactUsInfo {
    color: #2B5C42;
    font-weight: 200;
    font-size: 25px;
    text-align: center;
}

.contactEmail {
    font-weight: 600;
    text-decoration: none;
    color: #2B5C42;
}

.contactUsButton {
    padding: 25px 35px;
    border: 1px solid #2B5C42;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    color: #2B5C42;
    background-color: #ffffff;
    text-align: center;
    display: block;
    margin: 35px auto;
    transition: 0.3s ease;
    font-size: 30px;
}

.contactUsButton:hover {
    background-color: #2B5C42;
    color: #ffffff;
}

.enactusTitle {
    padding: 20px 10%;
    font-size: 35px;
    color: #2B5C42;
    font-weight: 600;
}

.enactus {
    background-color: #ffffff;
    padding: 20px 10%;
    display: flex;
    flex-wrap: nowrap; /* Ensure no wrapping */
    justify-content: center;
    align-items: top;
}

.enactusPhoto {
    flex: 1 1 50%;
    max-width: 50%;
    padding-right: 35px;
}

.enactusPhoto img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.enactusTextDiv {
    flex: 1 1 50%;
    max-width: 50%;
    padding: 10px;
}

.enactusTextDiv h2 {
    color: #2B5C42;
    margin: 10px 0; /* Corrected margin */
    font-size: 25px;
}

.enactusTextDiv p {
    color: #2B5C42;
    font-weight: 200;
    font-size: 18px;
}

.enactusLink {
    color: #2B5C42;
    text-decoration: underline;
    font-weight: 500;
    transition: 0.3s ease;
    cursor: pointer;
}

.enactusLink:hover {
    color: #4dac79;
}

/* Footer styles */
.footer {
    padding: 1px 20px;
    height: 200px;
}

.footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.footerLogo img {
    max-width: 180px;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 12px;
}

.socialIcons {
    display: block;
    align-items: center;
    margin-bottom: 20px;
}

.socialIcon {
    text-decoration: none;
    font-size: 38px;
    margin-right: 15px;
    color: #2B5C42;
    display: inline-block;
    transition: transform 0.5s;
}

.socialIcon:hover {
    color: #4dac79;
    transform: translateY(-5px);
}

/* Media query for screens smaller than 768px (e.g., phones) */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbarLogo {
        max-width: 100px;
    }

    .navLinks {
        display: none;
    }

    .navbarLink {
        padding: 10px;
        width: 100%;
        text-align: left;
    }

    .contactButton {
        text-align: center;
        margin-top: 10px;
    }

    .heroText {
        max-width: 90%;
        padding-left: 5%;
        padding-top: 100px;
    }

    .heroTitle {
        font-size: 60px;
    }

    .heroSubtitle {
        font-size: 18px;
    }

    .heroDetails, .heroEnactus {
        font-size: 14px;
    }

    .mission {
        padding-left: 5%;
        padding-right: 5%;
    }

    .missionText {
        width: 100%;
    }

    .partners {
        padding: 20px 5%;
    }

    .partnersTitle {
        font-size: 25px;
    }

    .partnerLogo {
        max-height: 50px;
        margin-right: 20px;
    }

    .pillars {
        padding: 20px 5%;
    }

    .pillarsTitle {
        font-size: 25px;
    }

    .pillar {
        height: 120px;
    }

    .pillarTitle {
        font-size: 20px;
    }

    .pillarText {
        font-size: 12px;
        max-width: 70%;
        border-radius: 5px;
    }

    .contactUsInfo {
        font-size: 18px;
    }

    .contactUsButton {
        font-size: 20px;
        padding: 15px 20px;
    }

    .enactusTitle {
        font-size: 25px;
        padding: 10px 5%;
    }

    .enactus {
        flex-direction: column;
        align-items: center;
        padding: 20px 5%;
    }

    .enactusPhoto, .enactusTextDiv {
        max-width: 100%;
        flex: 1 1 100%;
        padding: 10px 0;
    }

    .footer {
        padding: 10px 5%;
        height: auto;
    }

    .footerLogo img {
        max-width: 100px;
    }

    .socialIcon {
        font-size: 30px;
        margin-right: 10px;
    }
}